    body {
        font-family: 'times new Roman','Times New Roman', Times, serif ;
        margin: 0;
        padding: 0; 
    }
    header,nav,main,footer{
        padding: 50px;
    }
    header{
        background-color: rgb(47, 47, 168);
        color: aquamarine(14,75,182);
        text-align: start;

    }
    nav ul {
        padding: 20px;
        background-color: brown(28, 73, 110);
        margin: 0;
    }
    nav ul li{
         display: inline;
         margin-right: 10px;
    }

    nav a {

        color:bisque;
    }
    nav a:hover{
     text-decoration:overline;
    }
    /*Estilos de rodapé*/
    footer{
        background-color: brown;
        color:beige;
        text-align: center;
        bottom: 0;
        width: 100%;

    }